pkgbase = legacy-launcher
	pkgdesc = Legacy Launcher for Minecraft (Unofficial Installer)
	pkgver = 1.40.3
	pkgrel = 5
	url = https://llaun.ch/
	arch = any
	license = LicenseRef-LegacyLauncher
	depends = java-runtime>=17
	noextract = LegacyLauncher.jar
	source = LegacyLauncher.jar::https://llaun.ch/jar
	source = LICENSE
	sha256sums = 09ba7517c8a9b30780ff9a6de230b8905247835ae0da914d66991e2b3b4b6c4e
	sha256sums = 11ff075f9d7f58e9c30ef460be904cfb84e8c3a35a4cd1044cde5e5b69ce469d

pkgname = legacy-launcher
